body {
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Container */

.container {
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.text__content {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.line::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategrey;
    border-radius: 3px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
    background-color: #3a424e;
    color: #fff;
}

.key:hover {
    background-color: #4CAF50;
    cursor: pointer;
}

#comma {
    background-color: #1c232e;
    color: #fff;
}

#backspace {
    width: 100px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#tab {
    width: 50px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#del {
    width: 44px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#enter {
    width: 86px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#capsLock {
    width: 100px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#shift {
    width: 100px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#shift2 {
    padding-left: 2px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#ctrl {
    width: 65px;
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#win {
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#alt {
    text-transform: unset;
    background-color: #1c232e;
    color: #808080;
}

#space {
    width: 280px;
}

#up {
    background-color: #1c232e;
    color: #808080;
}

#down {
    background-color: #1c232e;
    color: #808080;
}

#left {
    background-color: #1c232e;
    color: #808080;
}

#right {
    background-color: #1c232e;
    color: #808080;
}

.key.highlight {
    background-color: #4CAF50;
}

.output-container {
    margin: 10px 0;
}

.output {
    width: 100%;
    height: 100px;
    overflow: auto;
}

#cursor-indicator {
    position: absolute;
    width: 2px; /* ширина курсора */
    background-color: black;
    animation: blink-caret 0.8s infinite;
}
@keyframes blink-caret {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}